mat-toolbar {
  justify-content: space-between;
  background-color: #2f6690;
}

button {
  min-width: fit-content;
  padding: none;
  margin: none;
}

mat-form-field {
  color: #d9dcd6;
}
::placeholder {
  color: #d9dcd6;
  font-size: medium;
}

.big {
  /* width: 1rem;
  height: 2rem; */
  font-size: 1.2rem;
  text-align:end;
  position: relative;
  top: 5px;
}

a {
  /* padding-right: 1rem; */
  text-decoration: none;
  color: #d9dcd6;
}

h4,
mat-icon {
  color: #d9dcd6;
  /* font-size: 50px; */
}
mat-divider {
  width: 5px;
  background-color: #d9dcd6;
}

mat-sidenav-container {
  height: 90%;
}

mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}
mat-sidenav {
  background-color: #2f6690;
  width: 200px;
}
