<mat-toolbar class="navbar">
    <div>
        <button mat-button (click)="opened=!opened">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <mat-form-field appearance="standard">
            <input matInput placeholder="Search">
            <mat-icon class="big" matSuffix>search</mat-icon>
        </mat-form-field>

        <!-- <a href="#" class="tool">
                <button mat-button>
                <mat-icon mat-list-icon>search</mat-icon>
                </button>
            </a>
      -->
        <a href="#" class="tool">
            <button mat-button>
                <mat-icon mat-list-icon>notifications</mat-icon>
            </button>
        </a>
        <a href="#" class="tool">
            <button mat-button>
                <mat-icon mat-list-icon>logout</mat-icon>
            </button>
        </a>



    </div>

</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [opened]="opened" fixedToGap="56" role="navigation">
        <mat-nav-list>
            <a>
                <mat-list-item>
                    <mat-icon mat-list-icon>home</mat-icon>
                    <h4 mat-line>Home</h4>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </a>
            <a>
                <mat-list-item>
                    <mat-icon mat-list-icon>perm_identity</mat-icon>
                    <h4 mat-line>Profile</h4>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </a>
            <a>
                <mat-list-item>
                    <mat-icon mat-list-icon>groups</mat-icon>
                    <h4 mat-line>About</h4>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </a>
            <a>
                <mat-list-item>
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <h4 mat-line>hi</h4>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content role="main">
        <ng-content>
        </ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>