<mat-toolbar class="navbar">
    <div>
        <button mat-button (click)="onToolbarMenuToggle()" matTooltip={{tip}}>
            <mat-icon>{{arrow}}</mat-icon>
        </button>
        <span class="title">Retrovert</span>
    </div>
    <div>
        <mat-form-field appearance="standard">
            <input matInput placeholder="Search" />
            <mat-icon class="big" matSuffix>search</mat-icon>
        </mat-form-field>

        <a href="#" class="tool">
            <button mat-button [matMenuTriggerFor]="menu" matTooltip="Notifications">
                <mat-icon mat-list-icon class="hide-number">
                    <!-- matBadge="&#8288;" matBadgePosition="after"  matBadgeSize="small" -->
                    notifications
                </mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>This is notification 1</button>
                <button mat-menu-item>This is notification 2</button>
                <button mat-menu-item>This is notification 3</button>
            </mat-menu>
        </a>
        <a href="#" class="tool">
            <button mat-button matTooltip="Logout">
                <mat-icon mat-list-icon>logout</mat-icon>
            </button>
        </a>
    </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [opened]="opened" fixedToGap="10" role="navigation">
        <mat-nav-list>
            <a>
                <mat-list-item>
                    <mat-icon mat-list-icon>home</mat-icon>
                    <h4 mat-line>Home</h4>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </a>
            <a>
                <mat-list-item>
                    <mat-icon mat-list-icon>person</mat-icon>
                    <h4 mat-line>Profile</h4>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </a>
            <a>
                <mat-list-item>
                    <mat-icon mat-list-icon>groups</mat-icon>
                    <h4 mat-line>About Us</h4>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content role="main">
        <app-a-dashboard></app-a-dashboard>
        <!-- <ng-content></ng-content> -->
    </mat-sidenav-content>

</mat-sidenav-container>