<!-- <div class="container"> -->
<!-- <div class="main-div">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content> -->
<div>
    <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput [type]="'email'" placeholder="Email" [(ngModel)]="email">
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput [type]="'password'" placeholder="Password" [(ngModel)]="passwd">
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput [type]="'password'" placeholder="Password" [(ngModel)]="passwd">
    </mat-form-field>
</div>
<div>
    <button mat-raised-button (click)="onValidate()">Let's Start</button>
</div>
<!-- </div> -->
<!-- </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onValidate()" >Login</button>
    </mat-card-actions>
    <mat-card-subtitle>
      <span>Not a member? <a href="#">Signup</a></span>
    </mat-card-subtitle>
  </mat-card>
</div> -->
<!-- </div> -->