.main-div {
  background-color: #006971c4;
  height: 100%;
}

mat-label {
  color: rgba(43, 42, 42, 0.753);
}

mat-card {
  width: 250px;
  position: relative;
  top: 130px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

mat-card-title {
  padding-top: 10%;
  color: #006a71;
}

button {
  background-color: #006a71;
  color: #ffffff;
  width: 70%;
}

mat-card-subtitle {
  margin-left: 35px;
  text-align: left;
}

mat-card-content {
  margin-bottom: 0px;
  padding-bottom: 4px 0;
}

/* ::ng-deep.mat-form-field-underline { */
/*change color of underline*/
/* background-color: pink !important;
} */

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rgba(43, 42, 42, 0.753) !important;
}
