<mat-card class="cardd">
    <!-- <mat-card-title>this works</mat-card-title>
    <mat-card-content>This is the content </mat-card-content>
    <mat-card-subtitle>this is the subtitle</mat-card-subtitle> -->
    <mat-card class="card">
        <mat-card-title>this works</mat-card-title>
        <mat-card-content>This is the content </mat-card-content>
        <mat-card-subtitle>this is the subtitle</mat-card-subtitle>
    </mat-card>
<mat-card class="card">
    <mat-card-title>this works</mat-card-title>
    <mat-card-content>This is the content </mat-card-content>
    <mat-card-subtitle>this is the subtitle</mat-card-subtitle>
</mat-card>
<mat-card class="card">
    <mat-card-title>this works</mat-card-title>
    <mat-card-content>This is the content </mat-card-content>
    <mat-card-subtitle>this is the subtitle</mat-card-subtitle>
</mat-card>

</mat-card>
