<table mat-table>
    <ng-container>
        <th>No.</th>
        <td>1</td>
    </ng-container>
    <ng-container>
        <th>No.</th>
        <td>1</td>
    </ng-container>
    <ng-container>
        <th>No.</th>
        <td>1</td>
    </ng-container>
    <ng-container>
        <th>No.</th>
        <td>1</td>
    </ng-container>
    <ng-container>
        <th>No.</th>
        <td>1</td>
    </ng-container>
    <ng-container>
        <th>No.</th>
        <td>1</td>
    </ng-container>
</table>