<!-- <h1>Company</h1> -->
<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile>
        <button mat-raised-button class="btn" (click)="openDialogTx()">
            <mat-icon mat-list-icon>add_circle</mat-icon>
            <mat-icon mat-list-icon style="transform: rotate(90deg);">horizontal_rule</mat-icon>
            Create Transaction
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button class="btn" (click)="openDialogMember()">
            <mat-icon mat-list-icon>add_circle</mat-icon>
            <mat-icon mat-list-icon style="transform: rotate(90deg);">horizontal_rule</mat-icon>
            Add Trader
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button class="btn" (click)="openDialogRequest()">
            <mat-icon mat-list-icon>add_circle</mat-icon>
            <mat-icon mat-list-icon style="transform: rotate(90deg);">horizontal_rule</mat-icon>

            Add Request
        </button>
    </mat-grid-tile>
    <mat-grid-tile><button mat-raised-button class="btn" (click)="openDialogProduct()">
            <mat-icon mat-list-icon>add_circle</mat-icon>
            <mat-icon mat-list-icon style="transform: rotate(90deg);">horizontal_rule</mat-icon>

            <span>Add Commodity</span>
        </button></mat-grid-tile>
</mat-grid-list>
<app-tx-table></app-tx-table>